body {
	/* Supression des marges présentes dans le body par défaut.*/
	margin: 0px;
}

#titre {
	/*Dimensions de la div.*/
	width: 30vw;
	height: 10vh;
	/* Placement de la div titre.*/
	margin-top: 5vh;
	margin-left: 35vw; /* On choisit 35vw pour centrer la div du titre car 2x35 + 30 = 100 */
	/*Couleur du fond.*/
	background-color: blue;
	/*Alignement du texte dans la div.*/
	text-align: center;
	line-height: 10vh;
	/* Taille de la police.*/
	font-size: 3em;
}

#generale {
	/*Dimensions de la div.*/
	width: 90vw;
	height: 75vh;
	/* Placement de la div titre.*/
	margin-top: 5vh;
	margin-left: 5vw; /* car 2x5 + 90 = 100*/
	/*Couleur du fond.*/
	background-color: blue;
	/* Donner les propriétés flex à l'élément parent qui contient les enfants*/
	display: flex;
	/* Choisir la direction d'alignement des enfants (ici la div texte et la balise image). On choisit ici de les mettre en ligne.*/
	flex-direction: row; /* on remplace row par column si on veut les mettre en colonne.*/
	/* Propriété flex pour gérer l'alignement de l'axe principal. Ici on a choisit l'horizontale comme axe principal (row).*/
	justify-content: space-evenly; /*Cette valeur pour la proriété justify-content permet d'avoir le même espace entre les enfants.*/
	/* Propriété flex pour gérer l'alignement de l'axe secondaire. Ici on a choisit la verticale comme axe secondaire.*/
	align-items: center;
}

#texte {
	/*Dimensions de la div texte.*/
	width: 30vw;
	height: 50vh;
	/*Alignement du texte dans la div.*/
	text-align: justify;
	/* Taille de la police.*/
	font-size: 2em;
}

#image {
	/*Dimensions de l'image.*/
	width: 50vw;
	height: 70vh;	
}
